<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="cn.net.uxon.model"/>
    </typeAliases>
    <mappers>
        <mapper class="cn.net.uxon.mapper.UserMapperBak"/>
    </mappers>
</configuration>